[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/SDL2_ttf"]
	path = third_party/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
